<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <product_performance>
            <swatches>
                <async_option_prices>1</async_option_prices>
                <preload_child_products_images>1</preload_child_products_images>
            </swatches>
            <attributes>
                <cache_attribute_text_values>1</cache_attribute_text_values>
            </attributes>
            <configurable_cache>
                <clean_parent_cache_tags_on_child_save>1</clean_parent_cache_tags_on_child_save>
            </configurable_cache>
        </product_performance>
    </default>
</config>
