<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_commit_after">
        <observer name="magesuite_performanceproduct_clean_parent_configurable_cache_tags" instance="MageSuite\PerformanceProduct\Observer\CleanParentConfigurableCacheTagsAfterProductSave"/>
    </event>
</config>
