<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product">
        <plugin name="product_identities_extender" disabled="true"/>
        <plugin name="product_identities_extender_optimized" type="MageSuite\PerformanceProduct\Plugin\ConfigurableProduct\Model\Plugin\Frontend\ProductIdentitiesExtender"/>
        <plugin name="add_bundle_child_identities" disabled="true"/>
        <plugin name="add_bundle_child_identities_optimized" type="MageSuite\PerformanceProduct\Plugin\BundleProduct\Model\Plugin\Frontend\ProductIdentitiesExtender" sortOrder="100"/>
    </type>

    <type name="Magento\Catalog\Model\ResourceModel\Product\Collection">
        <plugin name="preload_children_for_configurable_products" type="MageSuite\PerformanceProduct\Plugin\Catalog\Model\ResourceModel\Product\Collection\PreloadChildrenForConfigurableProducts"/>
        <plugin name="preload_selection_for_bundle_products" type="MageSuite\PerformanceProduct\Plugin\Catalog\Model\ResourceModel\Product\Collection\PreloadSelectionForBundleProducts"/>
    </type>

    <type name="Magento\Catalog\Block\Product\ListProduct">
        <plugin
                sortOrder="20"
                name="preload_categories_collections"
                type="MageSuite\PerformanceProduct\Plugin\Catalog\Block\Product\ListProduct\PreloadCategoriesCollections"/>
    </type>

    <type name="Magento\ConfigurableProduct\Model\Product\Type\Configurable">
        <plugin
                sortOrder="-20"
                name="preload_categories_collections"
                type="MageSuite\PerformanceProduct\Plugin\ConfigurableProduct\Model\Product\Type\Configurable\PreloadCategoriesCollections"/>
    </type>

    <type name="Magento\Bundle\Model\Product\Type">
        <plugin
            sortOrder="20"
            name="preload_categories_collections"
            type="MageSuite\PerformanceProduct\Plugin\Bundle\Model\Product\Type\PreloadCategoriesCollections"/>
    </type>

    <type name="\Magento\GroupedProduct\Model\Product\Type\Grouped">
        <plugin
            sortOrder="20"
            name="preload_categories_collections"
            type="MageSuite\PerformanceProduct\Plugin\GroupedProduct\Model\Product\Type\Grouped\PreloadCategoriesCollections"/>
    </type>

    <type name="Magento\ConfigurableProduct\Block\Product\View\Type\Configurable">
        <plugin name="disable_swatches_option_prices" type="MageSuite\PerformanceProduct\Plugin\ConfigurableProduct\Block\Product\View\Type\Configurable\DisableSwatchesOptionPrices"/>
    </type>

    <type name="Magento\Customer\Model\ResourceModel\GroupExcludedWebsiteRepository">
        <plugin name="cache_results" type="MageSuite\PerformanceProduct\Plugin\Customer\Model\ResourceModel\GroupExcludedWebsite\CacheResults"/>
    </type>

    <type name="Magento\Eav\Model\Entity\Attribute\Source\Table">
        <plugin name="cache_option_lables" type="MageSuite\PerformanceProduct\Plugin\Eav\Model\Entity\Attribute\Source\Table\CacheOptionLabels"/>
    </type>

    <type name="Magento\Catalog\Helper\Data">
        <plugin name="cache_tax_price_within_single_request" type="MageSuite\PerformanceProduct\Plugin\Catalog\Helper\Data\CacheTaxPriceWithinSingleRequest"/>
    </type>
</config>
