<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magesuite" translate="label" sortOrder="300">
            <label>MageSuite</label>
        </tab>
        <section id="product_performance" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Performance Improvements</label>
            <tab>magesuite</tab>
            <resource>MageSuite_PerformanceProduct::config_performance</resource>
            <group id="swatches" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Swatches</label>
                <field id="disable_option_prices" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Disable Option Prices</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[If disable, prices for specific options for configurable products on POP will not be rendered immediately when page is loaded
                     but will be loaded when somebody choose specific option.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
