<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magesuite" translate="label" sortOrder="300">
            <label>MageSuite</label>
        </tab>
        <section id="product_performance" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Performance Improvements</label>
            <tab>magesuite</tab>
            <resource>MageSuite_PerformanceProduct::config_performance</resource>
            <group id="swatches" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Swatches</label>
                <field id="async_option_prices" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Async Option Prices</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[When enabled, prices for simple products on product tiles will be loaded on demand via JavaScript to reduce rendering time for POP and product tiles.]]></comment>
                </field>
            </group>
            <group id="attributes" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Attributes</label>
                <field id="cache_attribiute_text_values" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Cache Attribute Text Values</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[When enabled, all attributes options will be loaded in a single database request, to optimize getOptionText() method calls during page loading.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
